.select-wrapper::after {
    content: '\25BC';
    /*position: absolute;*/
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #495057;
    position: relative;
    display: inline-block;
}
.select-wrapper:hover select {
    border-color: #6c757d;
}
.select-wrapper select:focus {
    border-color: #80bdff;
    outline: none;
}
