{% extends 'indexofreaders.html' %}


{% block content %}
    <html lang="zh" data-theme="light">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css" />
    <script type="text/javascript" src="../static/js/jquery-3.7.1.min.js" ></script>
    <style>
            .table {
                border-collapse: collapse;
                width: calc(100% - 210px); /* 总宽度减去左右边距 */
                margin-left: 30px; /* 左边距 */
                margin-right: 180px; /* 右边距 */
                white-space: nowrap;
                --pico-background-color: #F1F1F1;
            }
        </style>
    <main class="pico" style="background: #E4E9F7">
        <div class="overflow-auto" style="margin-top: 10px">
        <div style="text-align: center">
            <a href="{{ url_for('toqrcodepage') }}">
                <button>提交</button>
            </a>
        </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">书名</th>
                        <th scope="col">作者</th>
                        <th scope="col">出版社</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">图书总量</th>
                        <th scope="col">图书剩余</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <th scope="row">{{ book.book_title }}</th>
                            <td>{{ book.author }}</td>
                            <td>{{ book.publisher }}</td>
                            <td>{{ book.ISBN }}</td>
                            <td>{{ book.total_quantity }}</td>
                            <td>{{ book.remaining_quantity }}</td>
                            <td>
                                <label>
                                    <input type="checkbox"/>借阅此书
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <dialog id="editbook">
              <article class="edit">
                  <h2>修改图书信息</h2>
                  <input type="text" name="text" id="title" placeholder="书名" aria-label="Text" />
                  <input type="text" name="text" id="author" placeholder="作者" aria-label="Text" />
                  <input type="text" name="text" id="publisher" placeholder="出版社" aria-label="Text" />
                  <input type="text" name="text" id="ISBN" placeholder="ISBN" aria-label="Text" />
                  <input type="text" name="text" id="totalquantity" placeholder="图书总量" aria-label="Text" />
                  <input type="text" name="text" id="remainquantity" placeholder="图书剩余" aria-label="Text" />
                  <footer>
                      <button className="secondary">Cancel</button>
                      <button>Confirm</button>
                  </footer>
              </article>
        </dialog>
        <script>
            const link = document.getElementById("edit");
            const dialog = document.getElementById("editbook");
            var htmlElement = document.querySelector("html");
            $('#editbook').on('showModal', function (event) {
                var button = $(event.relatedTarget); // 触发模态框的按钮
                var title = button.data('title'); // 从按钮中获取数据
                var author = button.data('author'); // 从按钮中获取数据
                var publisher = button.data('publisher');
                var ISBN = button.data('ISBN');
                var totalquantity = button.data('totalquantity');
                var remainquantity = button.data('remainquantity');
                var modal = $(this);
                modal.find('.edit #title').val(title); // 设置 ID input 的值
                modal.find('.edit #author').val(author); // 设置 Name input 的值
                modal.find('.edit #publisher').val(publisher);
                modal.find('.edit #ISBN').val(ISBN);
                modal.find('.edit #totalquantity').val(totalquantity);
                modal.find('.edit #remainquantity').val(remainquantity);
            });
            link.addEventListener("click", () => {
                htmlElement.classList.add("modal-is-opening")
                dialog.showModal();
                setTimeout(function() {
                    htmlElement.classList.remove("modal-is-opening");
                }, 400);
            });
        </script>
    </main>
</html>
{% endblock %}
