<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="zh" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> 用户页面 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='index/style.css') }}">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-book-alt bx-spin'></i>
      <span class="logo_name">Lib</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="{{ url_for('toborrowingpage') }}">
          <i class='bx bx-barcode-reader' ></i>
          <span class="link_name">查询借阅</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">查询借阅</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">图书推荐</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">图书推荐</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-donate-heart' ></i>
            <span class="link_name">互借管理</span>
          </a>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">图书互借</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-error-alt' ></i>
          <span class="link_name">处理违规</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">处理违规</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-grid-alt' ></i>
            <span class="link_name">信息专栏</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">信息维护</a></li>
          <li><a href="{{ url_for('infoanm') }}">信息公告</a></li>
          <li><a href="{{ url_for('lte') }}">读者来信</a></li>
            <!-- letters to editor -->
          <li><a href="{{ url_for('readercons') }}">读者咨询</a></li>
        </ul>
      </li>

      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="{{ url_for('static',filename='index/image/profile.jpg') }}" alt="profile">
      </div>
      <div class="name-job">
        <div class="profile_name">小明</div>
        <div class="job">学生</div>
      </div>
      <i class='bx bx-log-out' onclick="logout()"></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">{{ pagename }}</span>
      {% if displaysearch == 1 %}
          <div class="pico">
            <input type="search" name="search" placeholder="Search" aria-label="Search"/>
          </div>
      {% endif %}
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>
  </section>

  <script>
      function logout() {
        window.location.href = '/logout';
      }

  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;
   arrowParent.classList.toggle("showMenu");
    });
  }

  document.addEventListener("DOMContentLoaded", function() {
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    let sidebarState = localStorage.getItem("sidebarState");

    // 如果之前有保存的侧边栏状态，则根据其值设置侧边栏的初始状态
    if (sidebarState === "sidebar close") {
        sidebar.classList.add("close");
    }

    sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");

        // 当侧边栏状态改变时，保存新状态到本地存储中
        if (sidebar.classList.contains("close")) {
            localStorage.setItem("sidebarState", "sidebar close");
        } else {
            localStorage.setItem("sidebarState", "sidebar");
        }
    });
  });
  </script>

</body>
</html>