<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="zh" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> 员工业务页面 </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='index/style.css') }}">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-book-alt bx-spin'></i>
      <span class="logo_name">Lib</span>
    </div>
    <ul class="nav-links">

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-grid-alt' ></i>
            <span class="link_name">信息维护</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">信息维护</a></li>
          <li><a href="#">图书信息</a></li>
          <li><a href="#">读者信息</a></li>
          <li><a href="#">管理人员信息</a></li>
        </ul>
      </li>

      <li>
        <a href="{{ url_for('toreturnpage') }}">
          <i class='bx bx-barcode-reader' ></i>
          <span class="link_name">图书归还</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">图书归还</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">查看报表</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">查看报表</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-donate-heart' ></i>
            <span class="link_name">互借管理</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">互借管理</a></li>
          <li><a href="#">管理用户</a></li>
          <li><a href="#">管理图书</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-error-alt' ></i>
          <span class="link_name">处理违规</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">处理违规</a></li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class='bx bx-compass' ></i>
          <span class="link_name">专栏编辑</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">专栏编辑</a></li>
        </ul>
      </li>

      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="{{ url_for('static',filename='index/image/profile.jpg') }}" alt="profile">
      </div>
      <div class="name-job">
        <div class="profile_name">{{ username }}</div>
        <div class="job">{{ job }}</div>
      </div>
      <i class='bx bx-log-out' onclick="logout()"></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">{{ pagename }}</span>
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>
  </section>

  <script>
      function logout() {
        window.location.href = '/logout';
      }

  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;
   arrowParent.classList.toggle("showMenu");
    });
  }

  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>

</body>
</html>
